<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <form>
    <ion-list>
      <ion-item *ngFor="let input of array; index as index
" class="ion-margin">
        <ng-container *ngIf="index % 2; else area">
        <ion-label position="floating">{{ input }}</ion-label>
          <ion-input ></ion-input>
        </ng-container>
        <ng-template #area>
        <ion-label position="floating">{{ input }} (textarea)</ion-label>
          <ion-textarea autoGrow="true">

          </ion-textarea>
        </ng-template>

      </ion-item>
    </ion-list>
  </form>
</ion-content>

<ion-footer>
  <form>
    <ion-button
      class="ion-margin"
      expand="block"
      type="submit"
      [title]="'Save'"
      strong="true"
    >
      Submit
    </ion-button>
  </form>
</ion-footer>
